* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px white;
}